<ul class="list-unstyled sidebar shiplink">
    <li>
        <a href="https://www.54tuchun.com/" target="_blank">社区</a>
    </li>
    <li>
        <a href="http://www.54tuchun.cn/" target="_blank">博客</a>
    </li>
    <li>
        <a href="https://github.com/langzitc" target="_blank">github</a>
    </li>
</ul>